<section [class]="layout">
  <h4>Sign In</h4>
  <form [class]="layout === 'navigation' ? 'htest' : 'vtest'">
    <input class="login" placeholder="login">
    <input class="password" placeholder="password">
    <button class="submit">submit</button>
  </form>
  <div *ngIf="layout === 'navigation'" class="checkbox-wrapper">
    <input class="checkbox" type="checkbox" name="rememberme">
    <label for="rememberme">Remember Me</label>
  </div>
  <ul>
    <li><a href="#">Forgot your password?</a></li>
    <li><a href="#">Enter offer code instead</a></li>
  </ul>
</section>
