<ng-container *ngIf="appData$ | async as appData; else error">
  <ng-container [ngSwitch]="appData.decision.status">
      <app-approved *ngSwitchCase="status.Approved" [decision]="appData.decision" [primaryApplicant]="appData.primaryApplicant"></app-approved>
      <app-denied *ngSwitchCase="status.Declined"></app-denied>
      <app-error *ngSwitchDefault></app-error>
  </ng-container>
</ng-container>

<ng-template #error>
  <app-error></app-error>
  <p>(no appData @ decision.component)</p>
</ng-template>
